header>div{height:100%;margin:0;padding:0}header button svg{width:100%!important;height:100%!important}header{overflow:hidden}.radix-chart.svelte-1d8yp0m{max-width:100%;max-height:100%;display:block}
